.idea/
*.iml
*.iws
.project
.settings
/.project
/.tern-project
out/
log/
target/
.DS_Store
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties